.primarycolor {
    background-color: #002C6c;
}

.primarycolorText {
    color: #002C6c;
}

.orange1 {
    color: #F26334;
}

.bleu3 {
    color: #00799E;
}

.borderInput {
    border: #F26334;
    
}